<!DOCTYPE html>
<html>
  <head>
    <title>Ticker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %> 
    <script src="https://kit.fontawesome.com/e8d58a049f.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>";
      window.newsAPIKey = "<%= Rails.application.credentials.news[:api_key] %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
